@import "https://fonts.googleapis.com/css?family=Nunito:200,400,500,600,700,800";
* {
    box-sizing: border-box;
}
body {
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, html {
    box-sizing: border-box;
}
html {
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}
html, body, input, textarea, keygen, select, button {
    font-family: "Nunito","Roboto","proxima-nova","Proxima Nova",sans-serif;
}
.word-wrap {
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-all;
}
.clear {
    clear: both;
}
a {
    color: #0f1115;
    text-decoration: none;
}
a img {
    border: medium none;
}
img a {
    border: medium none;
}
html, body {
    font-size: 1em;
}
body {
    color: #0f1115;
    font-weight: 400;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
}
.top-bar {
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: fixed;
    text-align: center;
}
.top-bar .button {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1.5em;
    pointer-events: auto;
}
.top-bar .top-bar-item {
    margin-left: 0.5em;
}
@keyframes rotate-forever {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes rotate-forever {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.loading.spinner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 0.5s linear 0s normal none infinite running rotate-forever;
    border-color: #e6e6e6 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: none;
    font-size: 3em;
    height: 1em;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    position: fixed;
    top: 50%;
    transform-origin: 50% 50% 0;
    width: 1em;
    z-index: 1001;
}
.spinner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 0.5s linear 0s normal none infinite running rotate-forever;
    border-color: #ff4742 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: none;
    font-size: 3em;
    height: 1em;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    position: fixed;
    top: 50%;
    transform-origin: 50% 50% 0;
    width: 1em;
    z-index: 1001;
}
.loading.show {
    display: block;
}
.page {
    overflow-x: hidden;
    padding-top: 3em;
}
strong {
    font-weight: 600;
}
.button {
    -moz-user-select: none;
    border: 1px solid #c6c2be;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 800;
    padding: 0.8em;
    text-align: center;
    text-transform: uppercase;
}
.button:hover {
    background-color: #c6c2be;
    border: 1px solid #c6c2be;
    color: #fff;
}
.button, .button i {
    vertical-align: middle;
}
.button p {
    display: inline;
    vertical-align: middle;
}
.button {
    display: table;
    vertical-align: middle;
}
.button i {
    margin-right: 0.25em;
    vertical-align: middle;
}
.button.green {
    border-color: #36e67f;
    color: #36e67f;
}
.button.green:hover {
    background-color: #36e67f;
    border-color: #36e67f;
    color: #fff;
}
.button.red {
    border-color: #ff4742;
    color: #ff4742;
}
.button.red:hover {
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
}
.button.white {
    border-color: #fff;
    color: #fff;
}
.button.white:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #fff;
    color: #fff;
}
.button.blue {
    border-color: #42b4ff;
    color: #42b4ff;
}
.button.blue:hover {
    background-color: #42b4ff;
    border-color: #42b4ff;
    color: #fff;
}
.button.reverse.green {
    background-color: #36e67f;
    border-color: #36e67f;
    color: #fff;
}
.button.reverse.green:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #36e67f;
    color: #36e67f;
}
.button.reverse.red {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #f85032, #ff4742) repeat scroll 0 0;
    border-color: #ff4742;
    color: #fff;
}
.button.reverse.red:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ff4742;
    color: #ff4742;
}
.button.reverse.twitter {
    background-color: #00aced;
    border-color: #00aced;
    color: #fff;
}
.button.reverse.twitter:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #00aced;
    color: #00aced;
}
.button.reverse.twitter:active {
    background-color: #00aced;
    border-color: #00aced;
    color: #fff;
}
.button.reverse.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.button.reverse.facebook:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #3b5998;
    color: #3b5998;
}
.button.reverse.facebook:active {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.button.reverse.instagram {
    background-color: #125688;
    border-color: #125688;
    color: #fff;
}
.button.reverse.instagram:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #125688;
    color: #125688;
}
.button.reverse.instagram:active {
    background-color: #125688;
    border-color: #125688;
    color: #fff;
}
.button.reverse.white {
    border-color: #fff;
    color: #fff;
}
.button.reverse.white:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #fff;
    color: #fff;
}
.button.reverse.blue {
    background-color: #42b4ff;
    border-color: #42b4ff;
    color: #fff;
}
.button.reverse.blue:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #42b4ff;
    color: #42b4ff;
}
.button.reverse.no-bg:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
textarea, input[type="name"], input[type="email"], input[type="password"], input[type="text"], input[type="button"], input[type="date"], select {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #0f1115;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    outline: medium none;
    padding: 0.5em;
    text-indent: 0.01px;
    text-overflow: "";
}
textarea:focus, input:focus, select:focus {
    border: 1px solid #969696;
    color: #0f1115;
}
input:-moz-placeholder {
    color: #c8c8c8;
}
input::-moz-placeholder {
    color: #c8c8c8;
}
input[type="date"] {
    padding: 0.375em;
    position: relative;
    top: -0.005em;
}
input[type="date"], input[type="text"], select {
    -moz-appearance: none;
}
select {
    padding: 0.5em;
}
.top-bar {
    text-align: right;
}
.top-bar .nav-item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #6f6f6f;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    height: 5.7em;
    line-height: 6.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1.2em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    vertical-align: middle;
}
.top-bar .username {
    border: medium none;
    color: #a8a4a0;
    display: none;
    float: right;
    font-weight: 600;
    line-height: 2.5em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.top-bar .username:hover {
    border: medium none;
    color: #625e5a;
}
.top-bar .avatar {
    background-size: cover;
    border: 1px solid #fff;
    border-radius: 100%;
    float: right;
    height: 3.5em;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0.75em;
    pointer-events: auto;
    width: 3.5em;
}
@media (max-width: 261px) {
.top-bar .join-nomads {
    display: none;
}
}
.top-bar .container {
    height: 5em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.brand {
    color: #ff4742;
    display: inline-block;
    font-size: 1em;
    left: 0;
    letter-spacing: -0.025em;
    position: absolute;
    vertical-align: middle;
}
.brand:hover {
    opacity: 0.75;
}
.brand .light {
    font-weight: 100;
}
.no-touch .top-bar {
    margin-top: 0;
    transition: margin-top 0.2s ease 0s;
}
.no-touch .top-bar.hide-to-top {
    margin-top: -5em;
}
.top-bar .brand .light {
    font-weight: 200;
}
.top-bar .brand .version {
    display: none;
    font-size: 0.5em;
}
.top-bar .brand a {
    border: medium none;
}
.top-bar .brand .logo {
    display: inline-block;
    height: 2em;
    margin: 0 0.25em 0 0;
    vertical-align: middle;
    /*width: 3.5em;*/
}
.top-bar .text {
    display: inline-block;
    line-height: 0.8;
    margin-left: 0;
    margin-top: 0;
}
.top-bar h1, .top-bar h2 {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    margin: 0.05em 0 0.1em;
    vertical-align: middle;
}
.brand .sub {
    display: none;
    font-size: 0.25em;
    font-weight: 600;
    margin-left: 0.15em;
}
.top-bar .tiny {
    min-width: 3em;
}
.top-bar.map {
    display: none;
}
.top-bar .brand {
    color: #0f1115;
}
.top-bar .slogan {
    color: #0f1115;
    margin-left: 0.05em;
    margin-top: -0.1em;
}
.top-bar .brand-left {
    color: #fff;
    display: none;
    font-weight: 600;
    left: 0.5em;
    letter-spacing: 0;
    margin: 0.4em;
    position: absolute;
    top: 0.5em;
    vertical-align: middle;
}
.top-bar .brand-left {
    height: 1.7em;
}
.top-bar .brand-left .h1 {
    vertical-align: middle;
}
.top-bar .brand-left .logo {
    background-position: center center;
    height: 100%;
    width: 1.5em;
}
.header a {
    border-bottom: medium none;
}
.top-bar .logo {
    margin-left: 0.5em;
}
.brand i, .brand p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.brand i {
    font-size: 0.85em;
    margin-right: 0.1em;
}
.top-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 5em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}
.sticky {
    border-top: 0 none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.stickyOffsetter {
    display: block;
    height: 0;
    width: 100%;
}
a.active {
    color: #0f1115;
    font-weight: 600;
}
.strikethrough {
    position: relative;
}
.strikethrough::after {
    border-bottom: 3px solid #fff;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 42.5%;
}
.line {
    height: 1px;
}
.footer {
    background-color: #262626;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}
.footer, .footer a {
    color: #fff;
    font-weight: 200;
}
.footer a {
    border-bottom: 1px solid #fff;
    font-weight: 600;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.footer a:hover {
    color: #fff;
}
.footer .sub {
    display: inline-block;
    font-size: 0.1em;
}
.footer em {
    font-style: normal;
    font-weight: 600;
}
.nav-pane {
    background-color: #fff;
    background-position: center top;
    background-size: cover;
    border-left: 1px solid #f0f0f0;
    color: #c6c2be;
    display: none;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0.5em;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 5em 0 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 12em;
    z-index: 49;
}
.top-bar .top-links a.button {
    border-radius: 0;
    display: inline;
    margin-right: 0;
}
body.nav-opened .nav-pane {
    display: block;
}
@media (max-width: 1200px) {
.filter .brand {
    display: none;
}
}
@media (max-width: 600px) {
.top-bar {
    text-align: center;
}
.top-bar .brand .text .slogan {
    display: none;
}
.top-bar .brand h1, .top-bar .brand h2 {
    font-size: 1.25em;
}
.top-bar h2.slogan {
    display: none;
}
}
@media (max-width: 500px) {
.top-bar {
    text-align: left;
}
.action-play-youtube {
    display: none;
}
.header {
    margin: 0.25em auto;
}
.select-view {
    display: none;
}
.header-jobs .slogan, .header .slogan {
    margin: 0.25em auto 0;
    padding: 0;
}
.header, .header-jobs {
    display: table;
    margin: 0.5em auto;
    padding: 0;
    text-align: center;
}
}
a.button {
    color: #fff;
}
.top-bar .logo-white {
    display: none;
}
.top-bar .nav-item.action-toggle-mobile-nav {
    display: none;
}
.top-bar .button {
    margin-top: 1.5em;
}
.top-bar.mobile-nav-extended .button, .top-bar.mobile-nav-extended .avatar {
    display: none;
}
.top-bar .nav-item {
    display: none;
}
.top-bar .brand {
    margin: 0.6em;
}
.top-bar {
    overflow: visible;
    padding: 0;
}
.top-bar .container {
    width: 100%;
}
.top-bar.mobile-nav-extended .container {
    background: #fff none repeat scroll 0 0;
    height: auto;
    max-height: calc(50vh);
    overflow: auto;
    pointer-events: auto;
}
.top-bar .nav-item {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    display: block;
    float: none;
    font-size: 1em;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 1.25em;
    text-align: center;
    text-transform: capitalize;
}
.top-bar .nav-item:hover:not(.action-toggle-mobile-nav) {
    background: #fafafa none repeat scroll 0 0;
}
.top-bar .nav-item {
    display: none;
}
.top-bar.mobile-nav-extended .nav-item {
    display: block;
}
.top-bar .nav-item.action-toggle-mobile-nav {
    color: #a8a4a0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 4em;
    line-height: 4em;
    padding-top: 0.25em;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 10;
}
.top-bar:not(.mobile-nav-extended) .container {
    padding-right: 4em;
}
.top-bar.mobile-nav-extended .logo-white {
    display: none;
    height: 2em;
    left: 0;
    position: absolute;
    top: 0;
    width: 2em;
    z-index: 3;
}
@media (min-width: 600px) {
.top-bar:not(.mobile-nav-extended) .nav-item.active {
    border-bottom: 4px solid;
    color: #ff4742;
}
}
.noUi-target.noUi-connect {
    box-shadow: none;
}
.action-toggle-mobile {
    padding-top: 1.5em;
}
.top-bar .nav-item.action-toggle-mobile-nav {
    text-align: right;
}
.top-bar:not(.mobile-nav-extended) .nav-item.action-toggle-mobile-nav:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #a8a4a0;
}
.top-bar.mobile-nav-extended .nav-item.action-toggle-mobile-nav:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.top-bar .nav-item.action-toggle-mobile-nav .fa {
    font-size: 1.5em;
    line-height: 3em;
    vertical-align: middle;
}
.gm-style {
    -moz-user-select: none;
}
@media (max-width: 1440px) and (max-height: 800px) {
body {
    font-size: 0.9em;
}
}
@media (max-width: 600px) {
.top-bar .brand {
    margin: 0.5em;
}
.top-bar .avatar {
    position: absolute;
    right: 4em;
    top: 0;
}
.top-bar .container {
    text-align: right;
}
}
.top-bar .nav-item.action-toggle-mobile-nav {
    border-bottom: medium none;
    pointer-events: auto;
}
@media (min-width: 1600px) {
.top-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
}
.top-bar.mobile-nav-extended .container {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    pointer-events: auto;
    position: fixed;
    right: 4em;
    top: 1em;
    width: 16em;
    z-index: 99;
}
.loading_spinner {
    display: none;
    height: 4em;
    left: 50%;
    margin-left: -2em;
    margin-top: -2em;
    position: fixed;
    top: 50%;
    width: 4em;
    z-index: 1001;
}
.loading_spinner.show {
    display: block;
}
.loading_spinner_fast {
    animation-duration: 0.5s;
}
.loading_spinner_tail {
    animation: 2s cubic-bezier(0.36, 0.27, 0.69, 0.65) 0s normal none infinite running spin;
}
.loading_spinner_bg {
    display: none;
    opacity: 0.4;
    stroke: grey;
}
.loading_spinner_bg, .loading_spinner_path {
    fill: none;
    stroke-width: 9;
}
.loading_spinner_spinner {
    animation: 1.2s cubic-bezier(0.25, 0.29, 0.54, 0.86) 0s normal none infinite running spin;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    width: 100%;
}
.loading_spinner_path {
    stroke-dasharray: 55, 200;
    stroke-dashoffset: 90;
    stroke-linecap: round;
}
.loading_spinner_red {
    stroke: #ff4742;
}
.loading_spinner_yellow {
    stroke: #ffcc4d;
}
.loading_spinner_bg, .loading_spinner_path {
    fill: none;
    stroke-width: 8;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.top-bar .brand {
    pointer-events: auto;
    z-index: 10;
}
.modal.payment_suspended {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    left: 50%;
    padding: 1.5em;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10000000;
}
@media (max-width: 400px) {
.top-bar .brand h2 {
    display: none;
}
}
.image-previewer {
    border: medium none;
    cursor: pointer;
    display: none;
    left: 50%;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100px;
    min-width: 100px;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
}
a.person:active, a .person:active, a:active .person, .person:active, a.person:focus, a .person:focus, a:focus .person, .person:focus, a.person:hover, a .person:hover, a:hover .person, .person:hover, a.avatar:active, a .avatar:active, a:active .avatar, .avatar:active, a.avatar:focus, a .avatar:focus, a:focus .avatar, .avatar:focus, a.avatar:hover, a .avatar:hover, a:hover .avatar, .avatar:hover {
    opacity: 0.75;
}
@media (max-width: 300px) {
html {
    font-size: 0.75em;
}
}
.top-bar h1 {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: 600px) {
.hide-on-mobile {
    display: none;
}
}
.item .text .trending {
    font-size: 0.75em;
    font-weight: 800;
    text-transform: uppercase;
}
.item .weather-emoji {
    font-size: 1.5em;
    vertical-align: middle;
}
body {
    background: #fbfbfb none repeat scroll 0 0;
    padding: 0 0 5em;
    text-align: center;
}
.dimmer-dark {
    background-color: rgba(20, 20, 20, 0.8);
    background-image: url("../img/vignette.png");
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.grid {
    display: none;
    overflow: hidden;
    padding: 0;
}
html.pageType-cities .grid {
    min-height: 100vh;
}
@media (max-width: 600px) {
.list, .grid {
    padding: 0 0.25em 0.25em;
}
}
@media (min-width: 600px) {
.list, .grid {
    padding-top: 0;
}
}
.top-bar .brand a {
    /*border-bottom: 1px solid #0f1115;*/
    color: #0f1115;
}
.list.show {
    display: table;
}
.grid.show {
    display: block;
}
.filters {
    color: #a8a4a0;
    display: block;
    font-weight: 800;
    height: auto;
    left: 0;
    margin: 0 auto 0;
    max-width: 75em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 10;
    margin-bottom: 20px;
}
.choices span {
    display: inline;
    font-weight: 800;
    text-transform: uppercase;
    vertical-align: middle;
}
.filters span.heading {
    display: none;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-align: center;
}
.filters .min, .filters .max {
    font-weight: 800;
    margin-top: 1em;
}
.filters .min {
    float: left;
}
.filters .max {
    float: right;
}
.choice i {
    display: none;
}
.filter {
    display: none;
    font-weight: 800;
    padding: 0.35em;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.filters.filter p {
    margin: 0;
}
.filters .filter {
    display: none;
}
.filter.short_term_cost.switchable {
    display: inline-block;
}
.filters .filters-bottom-gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%, #fff 101%) repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 3em;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
@media (min-width: 75em) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    /*height: 16.5em;*/
}
.filters.medium {
    height: 39em;
}
.filters.all {
    height: auto;
    padding-bottom: 2em;
}
}
@media (min-width: 600px) and (max-width: 75em) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    height: 16.5em;
}
.filters.medium {
    height: 40em;
}
.filters.all .filter {
    height: auto;
}
}
@media (min-width: 600px) and (max-width: 1100px) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    height: 10em;
}
.filters.medium {
    height: 40em;
}
.filters.all .filter {
    height: auto;
}
}
@media (min-width: 330px) and (max-width: 600px) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    height: 12.75em;
}
.filters.medium {
    height: 40.5em;
}
.filters.all .filter {
    height: auto;
}
}
@media (min-width: 330px) and (max-width: 600px) and (max-height: 550px) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    height: 12.75em;
}
.filters.medium {
    height: 40em;
}
.filters.all .filter {
    height: auto;
}
}
@media (max-width: 330px) {
.filters .filter {
    display: inline-block;
}
.filters {
    overflow: hidden;
}
.filters.compact:not(.collapsed) {
    height: 12.75em;
}
.filters.medium {
    height: 40em;
}
.filters.all .filter {
    height: auto;
}
}
.filter.tags {
    padding-bottom: 1.5em;
    width: 100%;
}
.filter:last-child {
    border: medium none;
}
.choices {
    -moz-user-select: none;
    border-radius: 5px;
    font-weight: 800;
    position: relative;
}
.filter select.choices {
    -moz-appearance: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    color: #6f6f6f;
    cursor: pointer;
    font-weight: 800;
    padding: 0.75em;
    width: 100%;
}
.filter select.choices.active, .filter select.choices:hover {
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
}
.filter.visa_free select.choices {
    background-image: url("/assets/icon-passport.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    font-size: 0.85em;
    font-weight: 800;
    padding: 0.8em 1.5em;
    text-transform: uppercase;
}
.filter.visa_free select.choices:hover, .filter.visa_free select.choices.active {
    background-image: url("/assets/icon-passport-white.png");
}
.filter select.choices:hover {
    color: #625e5a;
}
.filter select.choices.active {
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
}
.choices:-moz-placeholder {
    color: #a8a4a0;
}
.choices::-moz-placeholder {
    color: #a8a4a0;
}
.choices.c8 div {
    width: 12.5%;
}
.choices.c9 div {
    width: 11.111%;
}
.choices.c10 div {
    width: 10%;
}
.choices.c11 div {
    width: 9.0909%;
}
.choices.c12 div {
    width: 8.3333%;
}
@media (max-width: 600px) {
.choices.c12 div {
    padding-left: 0;
    padding-right: 0;
}
}
.choices.c28 div {
    width: calc(100% / 28);
}
@media (max-width: 600px) {
.choices.c28 div {
    width: calc(100% / 28 * 2);
}
}
.choices.c7 div {
    width: 14.2857%;
}
.choices.c6 div {
    width: 16.6666%;
}
.choices.c5 div {
    width: 20%;
}
.choices.c4 div {
    width: 25%;
}
.choices.c4 div:nth-child(5), .choices.c4 div:nth-child(6), .choices.c4 div:nth-child(7), .choices.c4 div:nth-child(8) {
    border-top: medium none;
}
.choices.c4 div:nth-child(5) {
    border-left: 1px solid #bcb8b4;
    border-radius: 5px;
}
.no-touch .sort-by select:focus {
    text-transform: lowercase;
}
.sort-by select:hover, .sort-by select.active {
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
}
.choices.c3 div {
    width: 33.333%;
}
.choices.c2 div {
    width: 50%;
}
.choices.c1 div {
    width: 100%;
}
.choices.two-icons div i {
    display: inline-block;
}
.choices.two-icons span:not(.heading) {
    display: block;
}
.choices div i {
    display: inline-block;
    font-size: 1.15em;
    vertical-align: middle;
}
.results .hits {
    border: 1px none;
    color: #94908c;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    vertical-align: middle;
}
.results-amount {
    text-transform:uppercase;
    color:#94908c;
    font-size:0.8em;
    font-weight:800;
    vertical-align:middle;
}
@keyframes blinking {
0% {
    opacity: 1;
}
49% {
    opacity: 1;
}
50% {
    opacity: 0.25;
}
100% {
    opacity: 0.25;
}
}
@keyframes blinking {
0% {
    opacity: 1;
}
49% {
    opacity: 1;
}
50% {
    opacity: 0.25;
}
100% {
    opacity: 0.25;
}
}
.action-apply-filter.engage:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ff4742;
    color: #ff4742;
}
.choices div {
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    /*padding: 0.5em;*/
    text-align: center;
}
.choices div span {
    font-size: 0.8em;
}
.choices div:first-child {
    border-bottom-left-radius: 5px;
    border-left: 1px solid #cdcdcd;
    border-top-left-radius: 5px;
}

.choices div:not(.disabled) label {
    cursor: pointer;
}

.choices.c1 div:first-child, .choices.c2 div:first-child, .choices.c3 div:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.choices.c1 div:last-child, .choices.c2 div:last-child, .choices.c3 div:last-child, .choices div:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.no-touch .choices div:hover:not(.disabled) {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #f85032, #ff4742) repeat scroll 0 0;
    border-color: #ff4742;
    color: #fff;
}
.choices div.active, .choices div.active:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #f85032, #ff4742) repeat scroll 0 0;
    border-color: #ff4742;
    color: #fff;
    opacity: 1;
}
.no-touch .choices div.active:focus {
    background-color: #fff;
    border-color: #ff4742;
    color: #ff4742;
}
.filter.tags .tag {
    float: left;
    font-weight: 800;
    vertical-align: middle;
    width: 16.666%;
}
.filter.tags .tag input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #efeeed;
    border-radius: 5px;
    color: #bdbdc4;
    font-size: 1em;
    font-weight: 800;
    margin: 0;
    outline: medium none;
    padding: 0.5em;
    vertical-align: middle;
}
.filter.tags {
    padding: 0.35em;
}
.filter.tags .box {
    display: inline-block;
    overflow: hidden;
    padding: 0.1em;
    width: 12.5%;
}
.filter.tags div {
    border-radius: 5px;
    display: block;
    float: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: auto;
}
.filter.tags div.active {
    color: #fff;
}
.filter.full-width {
    width: 100%;
}
@media (min-width: 600px) {
.filter {
    width: 50%;
}
.filter.half {
    width: 16.66%;
}
}
@media (min-width: 75em) {
.filter.half {
    width: 16.666%;
}
.filter {
    width: 33.333%;
}
.filter.visa_free {
    width: 33.333%;
}
}
.noUi-horizontal {
    background-color: #ff4742;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    height: 6px;
}
.noUi-background {
    background-color: #f3f3f4;
    box-shadow: none;
}
.noUi-horizontal .noUi-handle {
    background-color: #fff;
    border: 1px solid #a8a4a0;
    border-radius: 100%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 2em;
    margin-top: -0.4em;
    width: 2em;
    z-index: 2;
}
.noUi-connect {
    background-color: #ff4742;
    box-shadow: none;
}
.noUi-handle::before, .noUi-handle::after, .noUi-handle::before, .noUi-handle::before {
    display: none;
}
.touch .noUi-horizontal .noUi-handle {
    border-radius: 2em;
    height: 2.5em;
    margin-left: -0.4em;
    margin-top: -0.75em;
    width: 2.5em;
}
.touch .noUi-horizontal .noUi-handle-upper {
    margin-left: -0.5em;
}
.touch .noUi-horizontal {
    margin-left: 1em;
    margin-right: 1em;
}
.touch .filter.cost .slider {
    margin-bottom: 0.5em;
}
@media (max-width: 600px) {
.noUi-horizontal .noUi-handle {
    border-radius: 2em;
    height: 2.5em;
    margin-left: -0.4em;
    margin-top: -0.75em;
    width: 2.5em;
}
.noUi-horizontal .noUi-handle-upper {
    margin-left: -0.5em;
}
.noUi-horizontal {
    margin-left: 1em;
    margin-right: 1em;
}
.filter.cost .slider {
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}
}
.grid .item, .list tr.item {
    display: none;
}
.search-container {
    border-radius: 5px;
    display: inline-block;
    margin: 0 0.35em 0.35em;
    padding: 1.5em;
    position: relative;
    width: calc(100% - 0.7em);
}
input.search {
    color: #6f6f6f;
    font-weight: 700;
    height: 100%;
    left: 0;
    outline: 0 none;
    padding-left: 2.5em;
    position: absolute;
    text-align: left;
    top: 0;
    vertical-align: top;
    width: 100%;
}
input.search:focus {
    color: #0f1115;
}
input.search.active {
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
}
.search-icon {
    background-image: url("../img/search-6f6f6f.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1em;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 1em;
}
.search-icon.active {
    filter: invert(100%) contrast(1000%);
    z-index: 1;
}
.search-spinner {
    color: #a8a4a0;
    display: none;
    height: 1em;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 1em;
    z-index: 1;
}
input.search:-moz-placeholder {
    color: #a8a4a0;
    font-weight: 700;
}
input.search::-moz-placeholder {
    color: #a8a4a0;
    font-weight: 700;
}
input.search:focus:-moz-placeholder {
    color: #fff;
}
input.search:focus::-moz-placeholder {
    color: #fff;
}
@media (max-width: 400px) {
.filter.population .choices div, .filter.genre .choices div {
    min-height: 4em;
    vertical-align: middle;
}
.top-bar .brand h1 {
    display: none;
}
}
.list {
    border-collapse: collapse;
}
span.border {
    border: 1px solid #0f1115;
    border-radius: 5px;
    margin-left: 0.25em;
    padding: 0.25em;
}
.tiny {
    font-size: 0.6em;
    margin-top: -0.3em;
    text-align: center;
    text-transform: uppercase;
}
.grid {
    margin: 0 auto;
    max-width: 75em;
    padding: 0;
    position: relative;
}
.grid .item {
    display: none;
}
.grid .item-insert .container {
    border: 1px solid #eaeaea;
    height: 100%;
}
.grid .item.show-now, .grid .item.show {
    display: inline-block;
}
.modal.item .city-expert.avatar, .modal.item .city-added-by.avatar {
    background-size: cover;
    border: medium none;
    border-radius: 100%;
    bottom: 0;
    height: 30px;
    margin: 1em;
    position: absolute;
    right: 0;
    width: 30px;
    z-index: 10;
}
.modal.item .city-expert.avatar {
    right: 2.5em;
}
.grid .item {
    -moz-user-select: none;
    color: #fff;
    float: left;
    height: 17.5em;
    overflow: hidden;
    padding: 0.7em;
    position: relative;
    text-align: center;
    transform: rotate(0deg);
    width: 100%;
}
.grid .item .action-add-to-collection {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    bottom: 0;
    cursor: pointer;
    display: none;
    margin: 0.75em;
    padding: 0.25em 0.5em 0.15em;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 15;
}
.grid .item .action-add-to-collection:hover {
    background: #fff none repeat scroll 0 0;
    color: #333;
}
.grid .item:not(.item-insert) .container {
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
@media (max-width: 321px) {
.grid .item:not(.item-insert) .container {
    font-size: 0.85em;
}
}
.grid .item.item-insert .container {
    background-size: cover;
    color: #0f1115;
}
.grid .item.item-insert .container.highlight, .grid .item.item-insert .container.highlight a:not(.button) {
    border-color: #fff;
    color: #fff;
}
.grid .item.item-insert .container:not(.highlight) a:not(.button) {
    border-bottom: 1px solid #0f1115;
    color: #0f1115;
}
.item-insert .container:hover:not(.highlight) {
    background-color: #e6e6e6;
}
.item-insert .container.highlight:hover {
    background-color: #ff4742;
}
.grid .item .click {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.grid .item .action {
    text-align: center;
}
.grid .item .action p {
    font-weight: 800;
    line-height: 1.5;
    padding-left: 2em;
    padding-right: 2em;
}
.grid .item .action .buttons {
    /*left: 50%;*/
    /*margin-left: -5em;*/
    position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
    width: 100%;
}
.grid .item .action .button.green:hover {
    background-color: #36e67f;
    color: #fff;
}
.grid .item .bg {
    background-color: #fff;
}
.grid .item .action, .grid .item .attributes {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
}
.list .item-insert .bg, .list .item-insert .blur, .grid .item .gradient, .grid .item .blur, .grid .item .action, .grid .item .bg, .grid .item .dimmer-light, .grid .item .dimmer-dark, .grid .item .attributes {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.grid .item .attributes .rank {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: center;
}
@media (min-width: 600px) {
.grid .item .attributes .rank {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor #fff currentcolor currentcolor;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    margin-top: 0.25em;
    padding: 0;
    width: 2em;
}
}
.grid .item.insert.hasNoPaddings {
    padding: 0;
}
.grid .item .action {
    height: auto;
    left: 0;
    opacity: 0;
    padding: 1.5em 1em 1em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
}
.action .label {
    color: #fff;
    float: left;
}
.action .rating {
    background-color: rgba(255, 255, 255, 0.1);
    float: right;
    width: 50%;
}
.list .rating .fa, .list .rating .wi {
    color: #fff;
    display: inline-block;
    text-align: center;
    z-index: 1;
}
.list .rating, .action .rating, .modal.item .rating {
    color: #fff;
    display: block;
    font-weight: 800;
    height: 1.5em;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.modal.item .tab {
    background: #fbfbfb none repeat scroll 0 0;
}
@media (max-width: 600px) {
.modal.item .tab {
    height: auto;
}
}
.modal.item .tab.with-map .map {
    background-color: #f8f8f8;
    display: none;
}
.modal.item .tab-ranking .rating {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1em;
}
.action .rating {
    margin-bottom: 0.5em;
}
.list .rating .icons {
    height: 100%;
    left: 0;
    padding: 0.35em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.modal.item .progress-bar .filling, .list .rating .filling, .action .rating .filling, .modal.item .rating .filling {
    color: #fff;
    height: 100%;
    left: 0;
    line-height: 1.25;
    padding: 0.4em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 0;
}
.list .rating {
    background-color: #f3f3f4;
    height: 2em;
}
.list tr:hover .rating {
    background-color: #fff;
}
table.details tr .fa {
    position: relative;
}
.list tr .rating.r5, .action .rating.r5, .modal.item .tab-ranking .rating.r5 {
    border-color: #2bde73;
    color: #2bde73;
}
.list tr .rating.r4, .action .rating.r4, .modal.item .tab-ranking .rating.r4 {
    border-color: #2bde73;
    color: #2bde73;
}
.list tr .rating.r3, .action .rating.r3, .modal.item .tab-ranking .rating.r3 {
    border-color: #ffc924;
    color: #ffc924;
}
.list tr .rating.r2, .action .rating.r2, .modal.item .tab-ranking .rating.r2 {
    border-color: #ff4742;
    color: #ff4742;
}
.list tr .rating.r1, .action .rating.r1, .modal.item .tab-ranking .rating.r1 {
    border-color: #ff4742;
    color: #ff4742;
}
.action .rating.r0, .modal.item .tab-ranking .rating.r0 {
    border-color: #fff;
    color: #fff;
}
.list tr .rating.r5 .filling, .modal.item .tab-ranking.show .rating.r5 .filling {
    background-color: #2bde73;
    width: 100%;
}
.list tr .rating.r4 .filling, .modal.item .tab-ranking.show .rating.r4 .filling {
    background-color: #2bde73;
    width: 75%;
}
.list tr .rating.r3 .filling, .modal.item .tab-ranking.show .rating.r3 .filling {
    background-color: #ffc924;
    width: 50%;
}
.list tr .rating.r2 .filling, .modal.item .tab-ranking.show .rating.r2 .filling {
    background-color: #ff4742;
    width: 33.333%;
}
.list tr .rating.r1 .filling, .modal.item .tab-ranking.show .rating.r1 .filling {
    background-color: #ff4742;
    padding-left: 0.05em;
    width: 16.666%;
}
.list tr .rating.r0 .filling, .modal.item .tab-ranking.show .rating.r0 .filling {
    width: 0;
}
.modal.item .tab-ranking {
    transform: translate3d(0px, 0px, 0px);
}
@media (min-width: 600px) {
.modal.item .tab.show {
    transition: width 0.25s cubic-bezier(0.25, 1, 0.25, 1) 0s;
}
.action .rating .filling, .modal.item .rating .filling {
    transition: width 0.25s cubic-bezier(0.25, 1, 0.25, 1) 0s;
    width: 0.1%;
}
}
.grid .item .attributes, .grid .item .text {
    padding: 0.5em;
    z-index: 3;
}
.grid .item:not(.item-insert) .text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
}
.modal.item .expandBelow a:not(.button):not(.no-border) {
    border-bottom: 1px solid #0f1115;
    color: #0f1115;
}
.modal.item .expandBelow .itemSub a:not(.button) {
    font-weight: 400;
}
.modal.item .expandBelow a:hover:not(.button):not(.no-border) {
    border-bottom: 1px solid #ff4742;
    color: #ff4742;
}
.modal.item .tab td:first-child a:hover i:not(.wi), .modal.item .expandBelow a:hover i {
    border-color: #ff4742;
}
.modal.item .expandBelow a:active {
    border-bottom: 1px solid transparent;
}
.grid .item:not(.item-insert) .text a, .grid .item:not(.item-insert) .text h2 a, .grid .item:not(.item-insert) .text h3 a, .grid .item:not(.item-insert) .text h4 a {
    border-bottom: medium none;
    color: #fff;
}
.grid .item h1 a, .grid .item h2 a, .grid .item h3 a, .grid .item h4 a {
    pointer-events: none;
}
.modal.item .itemName, .modal.item .itemName a, .grid .item .itemName, .grid .item .itemName a {
    font-weight: 800;
}
.grid .item .itemName {
    font-size: 1.1em;
    text-align: left;
    margin: 0;
}
.grid.collections .item .itemName {
    line-height: 1.5;
}
.grid .item .itemSub {
    text-align: left;
    font-size: 0.8em;
    line-height: 1;
    margin: 0.2em 0 0;
}
.modal.item .itemSub, .modal.item .itemSub a, .grid .item .itemSub, .grid .item .itemSub a {
    font-weight: 800;
}
.modal.item .itemName, .modal.item .itemName a, .grid .item .itemName, .grid .item .itemName a, .modal.item .itemSub, .modal.item .itemSub a, .grid .item .itemSub, .grid .item .itemSub a {
    border-bottom: medium none;
    color: #fff;
}
.grid .item .itemName a:hover, .grid .item .itemSub a:hover {
    border-bottom: 1px solid #fff;
}
.grid .item .bg {
    background-color: #323232;
    z-index: 0;
}
.list .item-insert .bg, .list .item-insert .blur, .grid .item .bg, .grid .item .blur {
    background-position: center center;
    background-size: cover;
    height: 125%;
    left: -12.5%;
    top: -12.5%;
    width: 125%;
    z-index: 2;
}
.grid .item .blur {
    display: none;
    z-index: 1;
}
.grid .item h2, .grid .item h3 {
    color: #fff;
    line-height: 1.15;
    margin: 0;
    text-align: center;
    width: 100%;
}
.grid .item .insert.container .center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.grid .item:not(.insert) .text {
    padding-left: 2em;
    padding-right: 2em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.grid .item h3 {
    font-weight: 200;
}
.grid .item .dimmer-dark {
    z-index: 2;
}
.grid .item .dimmer-light {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}
.no-touch .item .button.action-tap-to-open {
    display: none;
}
.touch .item .container .action .button.action-tap-to-open {
    left: 0;
    margin: 0;
    padding: 0.25em;
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
}
.no-touch .grid .item .container:focus .action .rating.r5 .filling, .no-touch .grid .item .container:active .action .rating.r5 .filling, .no-touch .grid .item .container:hover .action .rating.r5 .filling, .grid .item .container.hover .action .rating.r5 .filling {
    background-color: #2bde73;
    width: 100%;
}
.no-touch .grid .item .container:focus .action .rating.r4 .filling, .no-touch .grid .item .container:active .action .rating.r4 .filling, .no-touch .grid .item .container:hover .action .rating.r4 .filling, .grid .item .container.hover .action .rating.r4 .filling {
    background-color: #2bde73;
    width: 75%;
}
.no-touch .grid .item .container:focus .action .rating.r3 .filling, .no-touch .grid .item .container:active .action .rating.r3 .filling, .no-touch .grid .item .container:hover .action .rating.r3 .filling, .grid .item .container.hover .action .rating.r3 .filling {
    background-color: #ffc924;
    width: 50%;
}
.no-touch .grid .item .container:focus .action .rating.r2 .filling, .no-touch .grid .item .container:active .action .rating.r2 .filling, .no-touch .grid .item .container:hover .action .rating.r2 .filling, .grid .item .container.hover .action .rating.r2 .filling {
    background-color: #ff4742;
    width: 33.333%;
}
.no-touch .grid .item .container:focus .action .rating.r1 .filling, .no-touch .grid .item .container:active .action .rating.r1 .filling, .no-touch .grid .item .container:hover .action .rating.r1 .filling, .grid .item .container.hover .action .rating.r1 .filling {
    background-color: #ff4742;
    width: 16.666%;
}
.no-touch .grid .item .container:focus .action .rating.r0 .filling, .no-touch .grid .item .container:active .action .rating.r0 .filling, .no-touch .grid .item .container:hover .action .rating.r0 .filling, .grid .item .container.hover .action .rating.r0 .filling {
    background-color: #ff4742;
    width: 8.888%;
}
.no-touch .grid .item .container:focus:not(.insert) .text, .no-touch .grid .item .container:active:not(.insert) .text, .no-touch .grid .item .container:hover:not(.insert) .text, .grid .item .container.hover:not(.insert) .text {
    display: none;
}
.no-touch .grid .item .container:focus .bg, .no-touch .grid .item .container:active .bg, .no-touch .grid .item .container:hover .bg, .grid .item .container.hover .bg {
    display: none;
}
.no-touch .grid .item .container:focus .blur, .no-touch .grid .item .container:active .blur, .no-touch .grid .item .container:hover .blur, .grid .item .container.hover .blur {
    display: block;
}
.no-touch .grid .item a:focus .container .blur, .no-touch .grid .item a:active .container .blur, .no-touch .grid .item a:hover .container .blur {
    display: block;
}
.no-touch .grid .item a:focus .container:not(.insert) .text, .no-touch .grid .item a:focus .container .attributes .no-touch .grid .item a:active .container:not(.insert) .text, .no-touch .grid .item a:active .container .attributes .no-touch .grid .item a:hover .container:not(.insert) .text, .no-touch .grid .item a:hover .container .attributes {
    display: none;
}
.no-touch .grid .item .container:focus:not(.insert) .text, .no-touch .grid .item .container:active:not(.insert) .text, .no-touch .grid .item .container:hover:not(.insert) .text, .no-touch .grid .item .container:hover .attributes, .touch .grid .item .container.hover .attributes, .touch .grid .item .container.hover .text, .no-touch .grid .item .container:hover:not(.insert) .attributes, .no-touch .grid .item .container:active .attributes {
    display: none;
}
.grid .item a:focus .container .action, .grid .item a:active .container .action, .grid .item a:hover .container .action, .no-touch .grid .item .container:focus .action, .no-touch .grid .item .container:hover .action, .grid .item .container.hover .action, .no-touch .grid .item .container:active .action {
    opacity: 1;
}
.grid .item a:focus .action-add-to-collection, .grid .item a:active .action-add-to-collection, .grid .item a:hover .action-add-to-collection, .grid .item .container:focus .action-add-to-collection, .grid .item .container:active .action-add-to-collection, .grid .item .container:hover .action-add-to-collection {
    display: block;
}
.grid .item a:focus .container .dimmer-dark, .grid .item a:active .container .dimmer-dark, .grid .item a:hover .container .dimmer-dark, .no-touch .grid .item .container:focus .dimmer-dark, .no-touch .grid .item .container:hover .dimmer-dark, .grid .item .container.hover .dimmer-dark, .no-touch .grid .item .container:active .dimmer-dark {
    display: block;
    opacity: 0.65;
}
.grid .item a:focus .container .blur, .grid .item a:active .container .blur, .grid .item a:hover .container .blur, .no-touch .grid .item .container:focus .blur, .no-touch .grid .item .container:hover .blur, .grid .item .container.hover .blur, .no-touch .grid .item .container:active .blur {
    display: block;
    opacity: 1;
}
.touch .grid .item .container.hover .blur {
    filter: blur(6px);
}
.no-touch .grid .item a:focus .container .blur, .no-touch .grid .item a:active .container .blur, .no-touch .grid .item a:hover .container .blur, .no-touch .grid .item .container:focus .blur, .no-touch .grid .item .container:hover .blur, .no-touch .grid .item .container.hover .blur {
    filter: none;
}
.no-touch .grid .item a:active .container .blur, .no-touch .grid .item .container:active .blur {
    transform: none;
}
.no-touch .grid .item .container:focus .dimmer-dark, .no-touch .grid .item .container:hover .dimmer-dark, .no-touch .grid .item .container.hover .dimmer-dark, .no-touch .grid .item .container:active .dimmer-dark {
    background-color: rgba(20, 20, 20, 0.75);
}
.grid .item a:active .container .action, .grid .item a:focus .container .action, .grid .item a:hover .container .action, .no-touch .grid .item .container:focus .action, .no-touch .grid .item .container:hover .action, .grid .item .container.hover .action, .no-touch .grid .item .container:active .action {
    display: block;
}
.grid .item.big.forty-pct {
    font-size: 2em;
    width: 40%;
}
.grid .item.big.double {
    font-size: 2em;
}
.grid .item.double {
    width: 50%;
}
.grid .item.big.one-quarter {
    font-size: 2em;
}
.grid .item.one-quarter {
    font-size: 1.25em;
    height: 225px;
    width: 25%;
}
.grid .item.big.two-thirds {
    font-size: 2em;
}
.grid .item.two-thirds {
    width: 66.6666%;
}
.grid .item.big.triplet {
    font-size: 2em;
    height: 25em;
}
.grid .item.triplet {
    font-size: 1.25em;
    height: 220px;
    width: 33.3333%;
}
.grid .item .attributes div {
    color: #fff;
    font-size: 1.2em;
    font-weight: 800;
    /*margin: 0.75em 1em;*/
    margin: 0.75em 0.5em;
    position: absolute;
    z-index: 1;
}
@media (max-width: 600px) {
.grid .item .attributes div {
    margin: 0.5em;
}
}
.grid .item .attributes .top-left {
    left: 0;
    text-align: left;
    top: 0;
    width: 50%;
}
.grid .item .attributes .top-right {
    right: 0;
    text-align: right;
    top: 0;
    width: 50%;
}
.grid .item .attributes .bottom-left {
    bottom: 0;
    left: 0;
    text-align: left;
}
.grid .item .attributes .bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
}
.grid .item .attributes .bottom-right {
    max-width: 75%;
    min-width: 5em;
    text-align: center;
}
.grid .item .attributes .bottom-right-above {
    border-bottom: 1px solid #fff;
    bottom: 1.4em;
    min-width: 5em;
    padding-bottom: 0.15em;
    right: 0;
    text-align: center;
}
.grid .item .attributes .air_quality {
    display: inline-block;
    margin-left: 0.125em;
    vertical-align: middle;
}
.grid .item .attributes .air_quality .value {
    display: block;
    font-size: 0.6em;
    margin-top: -0.2em;
    text-align: center;
    text-transform: uppercase;
}
.grid .item .attributes .air_quality .above {
    display: block;
    font-size: 0.4em;
    margin-bottom: -0.2em;
    margin-top: -0.4em;
}
.grid .item .attributes .air {
    font-size: 0.5em;
    margin-right: 0.5em;
    text-transform: uppercase;
}
.grid .item .attributes .mbps {
    display: block;
    font-size: 0.6em;
    margin-top: -0.3em;
    text-transform: uppercase;
}
.grid .item .attributes .left {
    float: left;
    padding-top: 0.4em;
}
.grid .item .attributes .right {
    float: right;
    text-align: center;
}
.backdrop.book {
    z-index: 200;
}
body {
    padding-top: 5em;
}
.introduction {
    background-color: #f3f3f4;
    background-image: url("/assets/bg-plane-small.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    display: none;
    font-weight: 800;
    height: 10em;
    left: 50%;
    margin: 0.6em 0.6em 0;
    padding: 1em;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 30em;
    z-index: 10;
}
.introduction .container {
    display: inline-block;
    left: 0;
    padding: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.introduction .button {
    display: inline-block;
    margin: 0.25em;
    vertical-align: middle;
}
.top-bar .lists {
    background-color: red;
    display: none;
    width: 10em;
}
.top-bar .lists .dropdown a {
    border-bottom: 1px solid #efeeed;
    color: #0f1115;
    display: block;
    padding: 0.5em;
}
.top-bar .lists .dropdown a:hover {
    background-color: #ff4742;
    color: #fff;
}
.top-bar .lists .dropdown a:last-child {
    border-bottom: medium none;
}
.top-bar .lists .dropdown {
    background-color: #fff;
    border: 1px solid #efeeed;
    border-radius: 5px;
    display: block;
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    width: 15em;
    z-index: 10;
}
@media (max-width: 800px) {
html body {
    font-size: 0.85em;
}
}
.grid .item.active .dimmer-light {
    background-color: #ff4742;
    display: block;
    opacity: 0.5;
}
.grid .item.inactive {
    opacity: 0.25;
}
@media (min-width: 600px) {
.grid .item {
    height: 275px;
    width: 50%;
}
}
@media (min-width: 75em) {
.grid .item {
    /*width: 33.33%;*/
    width: 50%;
}
.tab.with-map .grid .item {
    width: 100%;
}
}
@media (min-width: 75em) {
.grid .item {
    /*height: 14em;*/
    /*width: 33.333%;*/
    height: 16.5em;
    width: 50%;
}
.tab.with-map .grid .item {
    width: 100%;
}
}
@media (max-width: 75em) {
.modal.item .grid .item, .grid .item {
    /*height: 17.5em;*/
    /*width: 33.33%;*/
    height: 13.5em;
    width: 50%;
}
}
@media (max-width: 800px) {
.view.grid {
    padding-left: 0.35em;
    padding-right: 0.35em;
}
.grid .item .action .rating:nth-last-child(3), .grid .item .action .label:nth-last-child(4) {
    display: none;
}
.modal.item .grid .item, .grid .item {
    height: 15em;
    /*width: 33.333%;*/
    width: 50%;
}
.grid.collections .item {
    height: 200px;
    width: 50%;
}
}
@media (max-width: 550px) {
.modal.item .grid .item, .grid .item {
    height: 13em;
    width: 50%;
}
.grid.collections .item {
    height: 15em;
}
.grid.collections .item .text {
    padding: 4px;
}
.grid .item .action p {
    padding: 0;
}
}
@media (max-width: 321px) {
.modal.item .grid .item, .grid .item {
    height: 12em;
    width: 50%;
}
.sort-by {
    display: none;
}
}
.modal.item .expandBelow .details a.tag {
    background-color: #fff;
    border: 1px solid #232323;
    border-radius: 5px;
    color: #232323;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 800;
    margin: 0.25em;
    padding: 0.5em;
    text-transform: uppercase;
}
.modal.item .expandBelow .details a.tag:hover {
    background: #232323 none repeat scroll 0 0;
    border: 1px solid #232323;
    color: #fff;
}
@media (max-width: 75em) {
.action-select-view.choices {
    margin-right: 0.5em;
}
.action-select-unit.choices {
    margin-right: 0.5em;
    width: 25%;
}
}
.action-add-city {
    float: right;
}
.modal.item.add-city .image {
    background-image: url("/assets/transparent.png");
    background-size: 250px 250px;
}
.modal.item.add-city .image .dimmer-dark {
    display: none;
}
.modal.item.add-city .image .button, .modal.item.add-city li[data-tab="questions"], .modal.item.add-city li[data-tab="near"], .modal.item.add-city .tab .button.tab-action {
    display: none;
}
.modal.item.add-city .image {
    cursor: pointer;
}
.modal.item.add-city .image .text {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: auto;
}
.modal.item.add-city .image .itemName {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #0f1115;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;
    min-height: 1em;
    min-width: 10em;
    padding: 0.5em;
    width: auto;
}
.tabs ul li.focus, .modal.item.add-city tr.focus {
    background-color: #ff9;
}
.modal.item.add-city .rating {
    cursor: pointer;
}
.modal.item.add-city .details tr {
    display: none;
}
.modal.item.add-city .details tr.editable {
    display: table-row;
}
.modal.item.add-city .details td .sub {
    display: none;
}
.modal.item .progress-bar {
    background-color: #f3f3f3;
    bottom: 0;
    height: 2em;
    left: 0;
    position: absolute;
    width: 100%;
}
.modal.item .progress-bar .filling {
    background-color: #2bde73;
    width: 0;
}
.option.action-open-search {
    float: left;
    margin-left: 0;
    margin-right: 0.5em;
    width: 4em;
}
.action-open-search .fa {
    display: inline-block;
    margin: 0 0.4em;
}
.modal.item .tab-forum {
    margin: 0;
}
.compare-sharer {
    bottom: 0;
    color: #fff;
    display: none;
    font-weight: bold;
    left: 0;
    padding: 0.5em;
    position: absolute;
    text-align: center;
    width: 100%;
}
@media (min-height: 1000px) and (min-width: 900px) {
.compare-sharer {
    display: block;
    position: relative;
}
}
@media (max-width: 900px) {
.compare-sharer {
    display: block;
    position: relative;
}
}
.compare-sharer .dimmer-dark {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.compare-sharer .bg-left, .compare-sharer .bg-right {
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 0;
}
.compare-sharer .bg-left {
    left: 0;
}
.compare-sharer .bg-right {
    left: 50%;
}
.compare-sharer p, .compare-sharer .button {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    z-index: 10;
}
.modal.item .tab, .modal.item .tab-cost-of-living, .modal-item .tab-ranking {
    position: relative;
}
.grid .item-insert .adsbygoogle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}
@media (max-width: 800px) {
.grid .item {
    font-size: 0.8em;
}
.grid .item-insert .adsbygoogle {
    transform: translateY(-50%) translateX(-50%) scale(0.5);
}
}
@media (max-width: 600px) {
.modal.item {
    font-size: 0.9em;
}
.action-select-unit {
    display: none;
}
}
@media (max-width: 600px) {
.action-apply-filter {
    width: calc(100% - 19.5em);
}
.action-open-map {
    display: none;
}
}
.collections-cta {
    height: 6em;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.users-cta {
    height: 4em;
    margin: 0 auto 0.5em;
    overflow: hidden;
    width: 100%;
}
.users-cta-scroller {
    height: 6.75em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}
.users-cta .user:hover .avatar, .users-cta .user:hover .username {
    opacity: 0.75;
}
.users-cta .user {
    display: inline-block;
    max-width: 5em;
    overflow: hidden;
    width: 5em;
}
.users-cta .user .username {
    color: #786f6f;
    font-size: 0.75em;
    font-weight: 800;
    text-align: center;
    width: 100%;
}
.users-cta .user a.username:hover {
    border-color: #cdcdcd;
}
html.touch .users-cta {
    overflow-x: scroll;
}
.users-cta .avatar {
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    height: 3.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 3.5em;
}
.users-cta a.avatar:hover {
    border: medium none;
}
@media (max-width: 600px) {
.collections-cta {
    margin-bottom: -2px;
}
}
html.pageType-list .collections-cta {
    max-width: none;
}
.collections-cta .collection:first-of-type {
    margin-left: 0;
}
.collections-cta .collection:last-of-type {
    margin-right: 0;
}
.collections-cta .collection {
    background-size: cover;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 6em;
    padding: 0;
    position: relative;
    vertical-align: top;
    white-space: initial;
    width: 10em;
}
@media (max-width: 600px) {
.collections-cta {
    display: none;
}
}
@media (min-width: 800px) {
.collections-cta .collection {
    border-radius: 5px;
    margin-left: 0.5em;
}
.collections-cta {
    margin-bottom: 0.5em;
}
.collections-cta .collection, .collections-cta .dimmer-dark {
    border-radius: 5px;
}
}
.collections-cta .collection:hover {
    border: medium none;
}
.collections-cta .collection:hover .dimmer-dark {
    opacity: 0.5;
}
.collections-cta p {
    font-weight: 800;
    left: 50%;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.collections-cta .scroller-parent {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.collections-cta .scroller {
    display: block;
    overflow-y: hidden;
    width: auto;
}
.slider[data-filter-target="date_range"] {
    background-color: #ff4742;
}
@media (max-width: 600px) {
.grid {
    padding-top: 0;
}
}
.modal-edit {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    left: 50%;
    padding: 1.5em;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 103;
}
.modal-edit .button {
    margin: 0.5em 0.25em;
}
.modal-edit h5, .modal-edit h4, .modal-edit h3, .modal-edit h2 {
    margin: 0;
}
.modal-edit h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}
.modal-edit input {
    margin: 1em 0.5em 0.5em;
}
.modal-edit .button {
    display: inline-block;
}
.modal.item table.details tr td.edit {
    cursor: pointer;
}
.no-touch .modal.item table.details tr td.edit .fa {
    opacity: 0;
}
.no-touch .modal.item table.details tr:hover td.edit .fa {
    opacity: 1;
}
.modal.item table.details tr:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}
.backdrop.edit {
    z-index: 102;
}
.modal-edit h5 {
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 0.5em;
    opacity: 0.5;
}
.modal-edit .prefix {
    font-weight: bold;
    margin-right: 0.5em;
}
.modal-edit .postfix {
    font-weight: bold;
    margin-right: 0.5em;
}
.modal-edit {
    max-width: 22.5em;
    width: 100%;
}
@media (max-width: 600px) {
.modal-edit {
    top: 25vh;
    transform: translateX(-50%);
}
}
.modal-item-nav-left, .modal-item-nav-right {
    color: #e6e6e6;
    cursor: pointer;
    display: none;
    font-size: 2em;
    padding: 1em;
    position: fixed;
    top: calc(50vh - 1em);
    vertical-align: middle;
    z-index: 105;
}
.modal-item-nav-left:hover, .modal-item-nav-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #c8c8c8;
    cursor: pointer;
}
.modal-item-nav-left {
    left: 0;
}
.modal-item-nav-right {
    right: 0;
}
@media (max-width: 1300px) {
.modal-item-nav-left, .modal-item-nav-right {
    display: none;
    opacity: 0;
}
}
.modal.trips-city, .modal.trips, .modal.places, .modal.chat {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 50%;
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 110;
}
.modal.trips .fa, .modal.places .fa, .modal.chat .fa {
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    padding: 0.2em 0.2em 0.2em 4em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: 120;
}
@media (max-width: 600px) {
.modal.trips .fa, .modal.places .fa, .modal.chat .fa {
    color: #343434;
    right: 0.25em;
    top: 0.25em;
}
}
.modal.trips .fa:hover, .modal.places .fa:hover, .modal.chat .fa:hover {
    opacity: 0.5;
}
@media (max-width: 600px) {
.modal.trips-city, .modal.trips, .modal.places, .modal.chat {
    max-height: none;
    max-width: none;
}
}
.modal.trips-city iframe, .modal.trips iframe, .modal.places iframe, .modal.chat iframe {
    border: medium none;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.backdrop.trips-city, .backdrop.trips, .backdrop.places, .backdrop.chat {
    cursor: pointer;
    opacity: 0.5;
    z-index: 109;
}
.places-filters {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #efeeed;
    left: 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.places-filters .filter {
    display: inline-block;
    width: 20%;
}
.places-filters .action-filter-places {
    display: inline-block;
    margin: 0.5em;
    opacity: 0;
    width: calc(20% - 1em);
}
.action-filter-places.engage {
    animation: 1s linear 0s normal none infinite running blinking;
    background-color: #ff4742;
    border-color: #ff4742;
    color: #fff;
    opacity: 1;
}
.item .nomad_score_bar {
    background: #fff none repeat scroll 0 0;
    height: 5px;
    position: absolute;
    top: 5px;
    width: 93%;
    z-index: 3;
}
@media (max-width: 900px) {
.item .nomad_score_bar {
    width: 97%;
}
}
@media (max-width: 800px) {
.item .nomad_score_bar {
    top: 0;
}
}
@media (max-width: 600px) {
.item .nomad_score_bar {
    height: 3px;
    width: 96%;
}
.modal.item {
    height: 100%;
}
}
.item .nomad_score_bar .filling {
    height: 5px;
}
.item .nomad_score_bar .filling.green {
    background: #2bde73 none repeat scroll 0 0;
}
.item .nomad_score_bar .filling.yellow {
    background: #ffc924 none repeat scroll 0 0;
}
.item .nomad_score_bar .filling.red {
    background: #ff4742 none repeat scroll 0 0;
}
.search-container {
    display: block;
}
.forum-cta {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #dbdbdb currentcolor #dbdbdb #dbdbdb;
    border-image: none;
    border-radius: 15px 0 0 15px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    bottom: 6em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    opacity: 0;
    padding: 1em 4em 1em 1em;
    position: fixed;
    right: 0;
    z-index: 11;
}
@media (max-width: 600px) {
.forum-cta {
    display: none;
}
}
.modal.item .tab.with-map h3.itemName {
    font-size: 1.5em;
}
.grid-scroller .grid .item h3.itemName {
    font-size: 1.5em;
}
@media (max-width: 600px) {
.choices.c8 div {
    display: inline-block;
    height: 4em;
    vertical-align: top;
    width: 25%;
}
.choices.c8 div:first-child {
    border-bottom-left-radius: 0;
}
.choices.c8 div:nth-child(1), .choices.c8 div:nth-child(2), .choices.c8 div:nth-child(3), .choices.c8 div:nth-child(4) {
    border-bottom: medium none;
}
.choices.c8 div:nth-child(4) {
    border-top-right-radius: 5px;
}
.choices.c8 div:nth-child(5) {
    border-bottom-left-radius: 5px;
    border-left: 1px solid #cdcdcd;
}
.choices.c8 div:nth-child(8) {
    border-top-right-radius: 0;
}
}
@media (min-width: 600px) and (max-width: 1100px) {
.choices.c8 div {
    display: table-cell;
    line-height: 100%;
    vertical-align: middle;
}
}
@media (min-width: 1600px) {
.top-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
}
.flake {
    pointer-events: none;
}
.item .nomad_score_bar {
    display: none;
}
@media (min-width: 800px) {
.pageType-cities .grid.view .item .itemName {
    font-size: 1em;
}
.pageType-cities .grid.view .item.show-now.big .itemName {
    font-size: 2.25em;
}
.pageType-cities .grid.view .item.show-now.big {
    height: 25em;
    width: 50%;
}
.pageType-cities .grid.view .item:not(.item-insert) .text {
    left: 3em;
    text-align: left;
    top: 0.5em;
    transform: none;
}
.pageType-cities .grid.view .item:not(.item-insert) .text h2, .pageType-cities .grid.view .item:not(.item-insert) .text h3 {
    padding: 0;
    text-align: left;
}
}
@media (min-width: 800px) {
.pageType-cities .grid .item.big {
    height: 25em;
}
.pageType-lists .grid .item {
    height: 60vh;
}
}
.map_dimmer {
    background: #222 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.vignette {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , transparent 0%, transparent 33%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%) repeat scroll 0 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
@media (max-width: 1100px) {
.compact .filter.visa_free {
    display: none;
}
.filter.visa_free {
    width: 100%;
}
}
html.pageType-tag body, html.pageType-regions body, html.pageType-region body, html.pageType-countries body, html.pageType-country body, html.pageType-list body {
    padding-top: 0;
}
html.pageType-tag .head-image, html.pageType-region .head-image, html.pageType-regions .head-image, html.pageType-country .head-image, html.pageType-countries .head-image, html.pageType-list .head-image {
    height: 100vh;
}
html.pageType-tag .head-image .dimmer-dark, html.pageType-region .head-image .dimmer-dark, html.pageType-regions .head-image .dimmer-dark, html.pageType-country .head-image .dimmer-dark, html.pageType-countries .head-image .dimmer-dark, html.pageType-list .head-image .dimmer-dark {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/assets/vignette.png");
    background-position: center center;
    background-size: cover;
    opacity: 0.85;
}
html.pageType-tag .top-bar .brand *, html.pageType-regions .top-bar .brand *, html.pageType-region .top-bar .brand *, html.pageType-countries .top-bar .brand *, html.pageType-country .top-bar .brand *, html.pageType-list .top-bar .brand * {
    color: #fff;
}
html.pageType-tag .head-image .text html.pageType-regions .head-image .text html.pageType-region .head-image .text html.pageType-countries .head-image .text html.pageType-country .head-image .text html.pageType-list .head-image .text {
    font-size: 1.25em;
}
.modal.item .tabs ul .li:hover a, .modal.item .tabs ul .li.active a .modal.item .tabs ul li:hover a, .modal.item .tabs ul li.active a {
    border-bottom: medium none;
    color: #ff4742;
}
.modal.item .tab.tab-cost-of-living td:first-child i:not(.wi) {
    display: none;
}
.modal.item .warning .fa {
    color: #ff4742;
}
.modal.item .warning {
    background: #efeeed none repeat scroll 0 0;
    display: inline-block;
    font-weight: 400;
    margin-top: 2em;
    padding: 1.5em;
    width: 100%;
}
.modal.item .warning {
    line-height: 2;
    margin-top: -1em;
}
@media (max-width: 400px) {
.climateData {
    display: none;
}
}
@media (max-width: 600px) {
.modal.item .image .button {
    font-size: 0.9em;
}
}
.no-items-found {
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 800;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #bdbdbd;
}
.filters .choices {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.choice input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.choice label {
    width: 100%;
    height: 100%;
    min-height: 30px;
    display: block;
    font-size: 0.8em;
    padding-top: 0.5em;
    font-weight: 800;
    text-transform: uppercase;
}
.choice input.custom-checkbox:checked ~ label {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #f85032, #ff4742) repeat scroll 0 0;
    border-color: #ff4742;
    color: #fff;
}

.filters .choices div {
    /*font-size: 0.9em;*/
    overflow: hidden;
    vertical-align: top;
}
.filters .filter.cost .choices div span {
    padding: 0.05em;
    text-transform: lowercase;
}
.grid .item .activeSortText {
    display: block;
    font-size: 0.65em;
    text-transform: uppercase;
}
.by, .feedback-popup {
    z-index: 98;
}
table.view.list td.green {
    background-color: #36e67f;
    color: #fff;
}
table.view.list td.red {
    background-color: #ff4742;
    color: #fff;
}
table.view.list td.yellow {
    background-color: #ffc924;
    color: #fff;
}
table.view.list span.value {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #969696;
    border-radius: 5px;
    color: #969696;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.75em;
    text-align: center;
    text-transform: uppercase;
}
table.view.list span.value.green {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #20d069;
    color: #20d069;
    padding: 0.75em;
}
table.view.list span.value.red {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ff4742;
    color: #ff4742;
}
table.view.list span.value.yellow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffc924;
    color: #ffc924;
}
table.view.list td .itemSub {
    color: #b5b5b5;
}
.hide-before-900px {
    display: inline;
}
.show-before-900px {
    display: none;
}
@media (max-width: 900px) {
.hide-before-900px {
    display: none;
}
.show-before-900px {
    display: inline;
}
}
@media (max-width: 600px) {
.filter {
    width: 100%;
}
.filter.half {
    width: 33.333%;
}
.filter span {
    text-align: center;
}
.filter {
    padding: 0;
}
.filter.tags .box {
    width: 33.333%;
}
.search-container {
    margin: 0.25em 0.5em;
    width: auto;
}
.filter {
    border-left: medium none;
    border-right: medium none;
    min-height: 0;
    padding: 0.25em 0.5em;
}
.filter .min {
    left: 0;
}
.filter select.choices, .choices div {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.action-expand-filter {
    margin-bottom: 0;
}
.filter select.choices {
    font-size: 1em;
    padding: 0.75em;
}
}
@media (max-width: 600px) {
.action-select-view.choices {
    display: block;
    margin: 0.35em;
    width: calc(100% - 0.7em);
}
.below-filter {
    padding-left: 0;
    padding-right: 0;
}
}
.infinity-scroll.loading_spinner {
    bottom: auto;
    left: auto;
    margin: 3em auto -1em;
    position: relative;
    right: auto;
    top: auto;
}
.tab-jobs tr {
    display: inline-block;
    width: 50%;
}
@media (max-width: 600px) {
.tab-jobs tr {
    display: table-row;
    width: auto;
}
}
.view.grid, .view.list {
    min-height: 100vh;
}
html.map-view body {
    padding-top: 0;
}


.search-stats {
    display: block;
    right: 1px;
    position: absolute;
}

.choices .disabled {
    background: #b8b8b8 none repeat scroll 0 0;
}
.choices .disabled label {
    cursor: not-allowed;
}

/*.no-touch .choices:not(.multiple-choice) div:hover, .no-touch .choices div.disabled:hover {
    background: #b8b8b8 none repeat scroll 0 0;
    border-color: #000;
    color: #fff;
}*/


.choice label {
    margin-bottom: 0px;
}


a.button, button.button {
    margin-bottom: 5px;
    text-decoration: none;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

.qyou-row {
    max-width: 75em;
    margin: 0 auto 0;
    padding-right: 10px;
}

.qyou-col {
    padding-left: 0;
    padding-right: 0;
}

.filters .no-items-found {
    display: none;
}

.attributes .artist {
    font-size: 0.8em;
    margin: 0;
}

.selections {
    border: 1px none;
    border-radius: 5px;
}

.selections ul {
    text-align: left;
    font-size: 0.8em;
}

.selections strong {
    font-weight: 700;
}

button.disabled {
    background: #b8b8b8 none repeat scroll 0 0;
    cursor: not-allowed;
}

.left-padding-10 {
    padding-left: 10px;
}
