{% extends "master.phtml" %}

{% block title %}
{{ sitename }}
{% endblock %}


{% block content %}

{% if message %}
<div class="row qyou-row left-padding-10">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
</div>
{% endif %}

<div class="filters compact">
    <div class="search-container">
        <div class="search-icon" id="searching"></div>
        <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="search videos (e.g. funny)" class="search">

        <!-- <div id="searching">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div> -->
        <!-- <input class="search" placeholder="search videos (e.g. funny)" type="text"> -->
    </div>
    <div class="filter genre full-width hide-on-mobile">
        <div class="choices multiple-choice multiple-choice-or c7">
            <div class="choice">
                <input id="genre-action" class="custom-checkbox" value="action" name="genre" type="checkbox">
                <label for="genre-action">Action</label>
            </div>

            <div class="choice">
                <input id="genre-inspirational" class="custom-checkbox" value="inspirational" name="genre" type="checkbox">
                <label for="genre-inspirational">Inspirational</label>
            </div>

            <div class="choice">
                <input id="genre-mindblowing" class="custom-checkbox" value="mind-blowing" name="genre" type="checkbox">
                <label for="genre-mindblowing">Mind-Blowing</label>
            </div>

            <div class="choice">
                <input id="genre-sports" class="custom-checkbox" value="sports" name="genre" type="checkbox">
                <label for="genre-sports">Sports</label>
            </div>

            <div class="choice">
                <input id="genre-funny" class="custom-checkbox" value="funny" name="genre" type="checkbox">
                <label for="genre-funny">Funny</label>
            </div>

            <div class="choice">
                <input id="genre-animation" class="custom-checkbox" value="animation" name="genre" type="checkbox">
                <label for="genre-animation">Animation</label>
            </div>

            <div class="choice">
                <input id="genre-music" class="custom-checkbox" value="music" name="genre" type="checkbox">
                <label for="genre-music">Music</label>
            </div>

            <!-- <div class="choice">
                <input id="genre-dance" class="custom-checkbox" value="dance" name="genre" type="checkbox">
                <label for="genre-dance">Dance</label>
            </div> -->
        </div>

    </div>

    <div class="filter custom full-width hide-on-mobile">
        <div class="choices multiple-choice multiple-choice-or c2">
            <div class="choice">
                <input id="custom-shows-available" class="custom-checkbox" value="1" name="shows_available" type="checkbox">
                <label for="custom-shows-available">Shows Available</label>
            </div>
            <div class="choice">
                <input id="custom-video-4k-available" class="custom-checkbox" value="1" name="video_4k_available" type="checkbox">
                <label for="custom-video-4k-available">4K Available</label>
            </div>
        </div>
    </div>


</div>



<div class="row qyou-row">
    <div class="col-sm-9 qyou-col">
        <div class="results">
            <div id="stats" class="results-amount"></div>
            <div id="hits" class="grid show view" style="opacity: 100;"></div>
            <div id="pagination" class="filters">
            </div>
            <!-- <div id="helperText">Type in a hashtag (instagood, foodgasm) or a general topic (travel, food) -- and we’ll show you matched instagram account.</div> -->
        </div>
    </div>

    <div class="col-sm-3 qyou-col selections">
        <h3>Selections</h3>
        <small class="no-selections-text">No selections yet</small>
        <form action="/mail" method="post" id="selection-form">
            <button class="button red reverse action-submit-selection hidden" type="submit">Submit Selections</button>
        </form>
        <ul class="list-group selection-list">
        </ul>
    </div>
</div>


{% verbatim %}
<!-- Hit template -->
<script type="text/template" id="hit-template">
    {{#hits}}
    <div class="item show show-now" data-id="{{ id }}">
        <div class="container">
            <div class="bg lazyloaded" style="background-image: url('{{ thumbnail }}'); opacity: 1;" data-bg="img/bg-plane.jpg" data-image-slug-alt="img/bg-plane.jpg">
                <meta>
            </div>
            <div class="blur lazyloaded" data-bg="img/bg-plane.jpg" data-image-slug-alt="img/bg-plane.jpg" style="background-image: url('{{ thumbnail }}');"></div>
            <noscript>
                <div class="bg" style="display:none" data-bg="img/bg-plane.jpg" style="background-image:url('img/bg-plane.jpg');">
                    <meta />
                </div>
            </noscript>
            <div class="dimmer-dark"></div>
            <div class="dimmer-light"></div>
            <div class="action">
                <div class="buttons">
                    <div class="clear"></div>
                    <button class="button red reverse action-add"
                        data-video-id="{{ id }}"
                        data-video-title="{{ qyou_title }}"
                        data-video-webtitle="{{ web_title }}"
                        data-video-genre="{{ genre }}"
                        data-video-artist="{{ artist }}"
                        >Add to List
                    </button>
                    <div class="clear"></div>
                    <a href="{{ url }}" class="button red reverse" target="_blank">Watch Now</a>
                </div>
            </div>

            <div class="attributes">
                <div class="top-left">
                    <h2 class="itemName">{{ qyou_title }}</h2>
                    <h3 class="itemSub">{{ web_title }}</h3>
                    <span class="artist">{{ artist }}</span>
                    <span class="trending"></span>
                </div>
                <div class="top-right"><span class="activeSortText">Genre</span>{{ genre }}</div>
            </div>
        </div>
    </div>
    {{/hits}}
</script>

<!-- NO HIT template -->
<script type="text/html" id="no-results-template">
    <div id="no-results-message" class="no-items-found">
        <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
    </div>
</script>


<!-- Stats template -->
<script type="text/template" id="stats-template">
    <span class="">Page {{ page }} from {{ nbHits }} result{{#nbHits_plural}}s{{/nbHits_plural}} found </span><span class="found_in">in {{ processingTimeMS }}ms</span>
    <!-- <span class="results_showing">{{ nbHits }} Result{{#nbHits_plural}}s{{/nbHits_plural}} found </span><span class="found_in">in {{ processingTimeMS }}ms</span> -->
</script>


<!-- Pagination template -->
<script type="text/template" id="pagination-template">
    <div class="filter genre full-width">
        <div class="choices c2">
            <div class="choice {{ disabledPrevButton }}">
                <label id="btn-prev-page">Prev</label>
            </div>
            <div class="choice {{ disabledNextButton }}">
                <label id="btn-next-page">Next</label>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script>

$(function () {

    // console.log('Initializing Algolia...');

    var APPLICATION_ID = '{{ algolia.application_id }}';
    var SEARCH_ONLY_API_KEY = '{{ algolia.search_only_api_key }}';
    var INDEX_NAME = '{{ algolia.index_name }}';
    var PARAMS = {
        hitsPerPage: 15,
        maxValuesPerFacet: 5,
        facets: ['4k', 'shows'],
        disjunctiveFacets: ['genre'],
        index: INDEX_NAME
    };

    var FACETS_SLIDER = [];
    var FACETS_LABELS = {};
    var FACETS_ORDER_OF_DISPLAY = [];

    // Client + Helper initialization
    var algolia = algoliasearch(APPLICATION_ID, SEARCH_ONLY_API_KEY);
    var algoliaHelper = algoliasearchHelper(algolia, INDEX_NAME, PARAMS);

    // Show all videos
    algoliaHelper.setQuery('').search();

    // DOM Binding
    $searchInput = $('#search-input');
    $filterGenre = $('input[name="genre"]');
    $filterShowsAvailable = $('input[name="shows_available"]');
    $filterVideo4kAvailable = $('input[name="video_4k_available"]');
    // $searchInputIcon = $('#search-input-icon');
    // $sortBySelect = $('#sort-by-select');
    $hits = $('#hits');
    $stats = $('#stats');
    $searching = $('#searching');
    $pagination = $('#pagination');
    // $helperText = $('#helperText');

    // Hogan templates binding
    var hitTemplate = Handlebars.compile($('#hit-template').text());
    var statsTemplate = Handlebars.compile($('#stats-template').text());
    var noResultsTemplate = Handlebars.compile($('#no-results-template').text());
    var paginationTemplate = Handlebars.compile($('#pagination-template').text());


    // Input binding
    $searchInput
    .on('keyup', function() {
        var query = $(this).val();

        // clear page on blank box
        // if (query == "") {
        //     $hits.html(hitTemplate(""));
        //     $stats.html("");
        //     $searching.fadeIn( 200 );
        //     // $helperText.fadeIn( 100 );
        //     return;
        // }

        $searching.fadeOut( 200 );
        // algoliaHelper.addFacetRefinement('genre', 'sports')
        algoliaHelper.setQuery(query).search();
        // $helperText.fadeOut( 100 );
    }).focus();

    $filterGenre
    .on('change', function() {
        // var checkedGenres = new Array();s
        $filterGenre.each( function() {
            var checkedGenre = $(this).val();
            if (this.checked) {
                // checkedGenres.push(checkedGenre);
                algoliaHelper.addDisjunctiveFacetRefinement('genre', checkedGenre)
            } else {
                algoliaHelper.removeDisjunctiveFacetRefinement('genre', checkedGenre)
            }
        });
        algoliaHelper.setQuery($searchInput.val()).search();
        // console.log(checkedGenre);
    });

    $filterShowsAvailable
    .on('change', function() {
        if (this.checked) {
            algoliaHelper.addFacetRefinement('shows', 'YES')
        } else {
            algoliaHelper.removeFacetRefinement('shows', 'YES')
        }
        algoliaHelper.setQuery($searchInput.val()).search();

    });

    $filterVideo4kAvailable
    .on('change', function() {
        if (this.checked) {
            algoliaHelper.addFacetRefinement('4k', 'YES')
        } else {
            algoliaHelper.removeFacetRefinement('4k', 'YES')
        }
        algoliaHelper.setQuery($searchInput.val()).search();

    });

    $pagination
    .on('click', '#btn-next-page', function() {
        var currentPage = algoliaHelper.getPage();
        var targetPage = algoliaHelper.setPage(currentPage + 1).search();
    })
    .on('click', '#btn-prev-page', function() {
        var currentPage = algoliaHelper.getPage();
        var targetPage = algoliaHelper.setPage(currentPage - 1).search();
    });

    algoliaHelper.on('search', function() {
        $('body').removeClass('loaded');
    });

    // Search results
    algoliaHelper.on('result', function(content, state) {
        $('body').addClass('loaded');
        renderStats(content);
        renderHits(content);
        // content.getFacetStats('age');
        // console.log(content);
        handleNoResults(content);
        handlePagination(content);
        $searching.fadeIn( 200 );
    });

    function renderHits(content) {
        console.log(content);
        $hits.html(hitTemplate(content));
    }

    function handleNoResults(content) {
        if (content.nbHits == 0) {
            $stats.html("");
            $hits.html(noResultsTemplate({query: content.query}));
        }

    }

    function handlePagination(content) {
        if (content.nbPages > 1) {
            var disabledPrevButton = '';
            var disabledNextButton = '';

            // Disable prev button
            if (content.page == 0) {
                disabledPrevButton = 'disabled';
            }

            // Disable next button
            if (content.page == (content.nbPages - 1)) {
                disabledNextButton = 'disabled';
            }
            var buttonStatus = {
                disabledPrevButton: disabledPrevButton,
                disabledNextButton: disabledNextButton
            };
            $pagination.html(paginationTemplate(buttonStatus));
        }
    }

    function renderStats(content) {
        if (content.nbHits != 0) {
            var stats = {
                page: content.page + 1,
                nbHits: content.nbHits,
                nbHits_plural: content.nbHits !== 1,
                processingTimeMS: content.processingTimeMS
            };
            $stats.html(statsTemplate(stats));
        }
    }

});

$( document ).ready(function() {
    $('body').addClass('loaded');

    $('#hits').on('click', '.action-add', function() {
        var videoId = $(this).data('video-id');
        var videoTitle = ($(this).data('video-title') == "") ? "NO_TITLE" : $(this).data('video-title');
        var videoWebtitle = ($(this).data('video-webtitle') == "") ? "NO_WEBTITLE" : $(this).data('video-webtitle');
        var videoArtist = ($(this).data('video-artist') == "") ? "NO_ARTIST" : $(this).data('video-artist');
        var videoGenre = $(this).data('video-genre');

        // Append to list
        $('.selection-list').append('<li class="list-group-item" data-video-id="'+ videoId +'"><strong>'+ videoArtist +' / '+ videoTitle +' / '+ videoWebtitle +'</strong> ['+ videoGenre +']</li>');
        // Append to form
        $('#selection-form').append('<input type="hidden" name="video_ids[]" value="'+ videoId +'">');
        $('.action-submit-selection').removeClass('hidden');
        $('.no-selections-text').addClass('hidden');

    });

});

</script>
{% endblock %}
