<!DOCTYPE html>
<html class="nomadlist pageType-cities X user units- js no-touch grid-view">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta name="robots" content="index, follow">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="css/ie10-viewport-bug-workaround.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">

    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body id="body" class="">

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section"></div>
    </div>

    <div class="container">

        <div class="top-bar">

            <!-- <a class="nav-item action-toggle-mobile-nav">
                <i class="fa-bars fa">
                </i>
            </a> -->

            <div class="brand">
                <h1 class="h" style="display: inline-block;">
                    <a class="no-border" href="/">
                        <img src="img/logo.png" class="logo">
                    </a>
                </h1>
            </div>

            <!-- <div class="container">
                <a href="https://join.nomadlist.com" class="join-nomads button reverse red top-bar-item tooltip-set" title="" style="display: inline-block;">Join
                </a>
                <a href="http://nomadlist.com/login" class="log-in-nomads button red tooltip top-bar-item action-open-login-modal" style="display: inline-block;">Login
                </a>
            </div> -->

        </div>

        {% block content %}
        {% endblock %}
    </div>
    <script src='js/jquery.min.js'></script>
    <script src='js/bootstrap.min.js'></script>

    {% block script %}
    {% endblock %}
</body>

</html>
